# OS
.DS_Store

# Python
*.pyc
*.pyo

# Common IDEs
*.swp
.idea/
.buildpath
.project
.settings
atlassian-ide-plugin.xml

# Project
/{{ project_name }}/local_settings.py
/{{ project_name }}/public/static
/{{ project_name }}/public/media

# Project database
*.db
